*{
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Montserrat, sans-serif;
    background: rgb(236, 236, 236);
    box-sizing: border-box;
}
  
.nav-list {
    background: rgba(161, 161, 161, 0.178);
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.226);
    height: 8%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 10;

}
.nav-item {
    list-style: none;
    margin-right: 50px;
    margin-left: 10px;
}
  
.nav-item a {
    text-decoration: none;
    color: black;
}
  
.nav-item a:hover {
    color: rgb(255, 255, 255);
}
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 20px;
}
.home-content{
    height: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.main-image{
    filter: drop-shadow(-20px 20px 20px rgba(46, 45, 45, 0.411));
}
.home-headings{
      margin-left: 25px;
      text-shadow: 0px 2px 20px rgba(0,0,0,0.29);
}
.home-textsmall{
      font-size: 20px;
      margin-bottom: 0%;
      text-shadow: 0px 2px 20px rgba(0,0,0,0.29);
    
}
.main-headings{
      text-align: center;
      letter-spacing: 3px;
      margin-top: 20%;
      margin-bottom: 1%;
      text-shadow: 0px 2px 20px rgba(0,0,0,0.29);
}

.home-textbig{
      font-size: 35px;
      text-shadow: 0px px 20px rgba(0,0,0,0.29);
}
#title{
    background: rgba(110, 110, 110, 0.973);
    box-shadow: 0px 0px 30px rgba(7, 7, 7, 0.384);
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    color: white;
    
}
.about-content{
    display: flex;
    background: rgba(161, 161, 161, 0.178);
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.226);
    height: 40%;
    align-items: center;
    box-shadow: 5px 0px 20px rgba(37, 37, 37, 0.226);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 0%;
}
.about-p{
      margin-left: 30px;
      margin-right: 30px;
}
.skill-content{
      
      display: flex;
      justify-content: center;
      /* background-color: white; */
      height: 30%;
      align-items: center;
      background: rgba(161, 161, 161, 0.178);
      box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.226);
      border-radius: 20px;
      width: 70%;
      margin: 0 auto;
}
.skill{
      /* margin: auto; */
      margin: 30px;
}
.skill-text{
      text-align: center;
      margin-top: 30px;
      text-shadow: 0px 2px 20px rgba(0,0,0,0.29);
      
}
.contact-content{

    background: rgba(161, 161, 161, 0.178);
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.226);
      display: flex;
      justify-content: center;
      /* background-color: rgb(255, 255, 255); */
      height: 20%;
      align-items: center;
      border-radius: 20px;
      width: 30%;
      margin: 0 auto;
      margin-bottom: 5%;

}


